/*===============*/
/*  Modal Popup  */
/*===============*/
.modal-content {
  background-color: #222;
  color: #CCC;
}

.modal-header .close {
  color: #777;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
}

.EditTaskModal {
    margin: 1rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
  }


/*==================*/
/*  Add Task Button */
/*==================*/
.EditTaskModal .btn {
  background-color: rgb(66, 99, 110);
  border: none;
}
  .EditTaskModal .btn:hover {
    background-color: rgb(41, 65, 73);
  }

/*=================*/
/*  Form Controls  */
/*=================*/
select.form-control, .form-control:focus, .form-group input, .form-group textarea, .react-tags {
  background-color: #111;
  color: #CCC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

  .form-control:focus, .form-group .react-tags.is-focused {
    border-color: white;
    box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    outline: none;
  }

  /*=====================*/
  /*  Priority Dropdown  */
  /*=====================*/
  .priority-select {
    position: relative;
  }
    select.form-control {
      display: inline-block;
    }
    .priority-select span {
      background-color: transparent;
      color: #CCC;
      position: absolute;
      right: 1rem;
      height: .5rem;
      bottom: 50%;
      padding: 0px 6px;
    }
  
    /* IE11 hide native dropdown button */
    select.form-control::-ms-expand {
      display: none;
    }

/*================*/
/*  Tags Buttons  */
/*================*/
.react-tags .react-tags__selected-tag {
  background: #333;
  color: #CCC;
}
    
/*===============*/    
/*  Date Picker  */
/*===============*/
.react-datepicker__input-container input {
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  color: #495057;
  cursor: pointer;
  display: block;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  height:38px;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  padding: 6px 12px;
  text-align: start;
  text-indent: 0px;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  width: 100%;
}
div.react-datepicker-wrapper, .react-datepicker-wrapper div.react-datepicker__input-container {
  display:block
}

