.header  {
    background-color: #333333;
    padding: 1rem 2rem;
    vertical-align: middle;
}

.header span {
    color: #AAAAAA;
    font-size: 3rem;
    font-family: 'Poiret One', sans-serif;
}

.justify-content-end {
    float: right;
}

.header button {
    background-color: #777;
    border: none;
    border-radius: 5px;
    color: #EEE;
    float: right;
    margin: 5px;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    transition: 0.2s;
    vertical-align: middle;
    
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .3), 
                0px 0px 9px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3), 
                        0px 0px 9px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .3), 
                     0px 0px 9px rgba(0, 0, 0, .1);
}
    .header button:hover{
        text-decoration: none;
        background-color: #666;
    
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                    0px 0px 9px rgba(0, 0, 0, .3);
        -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                            0px 0px 9px rgba(0, 0, 0, .3);
        -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                         0px 0px 9px rgba(0, 0, 0, .3);

        color: #EEE;
    }

    .header button::before {
        content: '\f1a0';
        color: #EEE;
        font-family: 'Font Awesome 5 Brands';
        position: absolute;
        font-weight: 900;
        font-size: medium;
        font-style: normal;
        text-align: center;
        left: .5rem;
        width:  1rem;
        height: 1.5rem;
        display: block;
    }
