
.dot {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid;
    background-color: transparent;
}
    .dot.red {
        border-color: #AA4444; 
    }
    .dot.green {
        border-color: #44AA44;
    }
    .dot.orange {
        border-color:#DD9966
    }

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}
.table tr {
    border-radius: 5px;
    box-shadow: 2px 2px 3px #888, 
                2px 2px 9px #CCC;
}
    .table tr.due-overdue {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 15px 3px #B44;
    }
    .table tr.due-today {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 10px 3px rgb(24, 115, 128);
    }
    .table tr.due-tomorrow {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 10px 3px rgb(118, 191, 197);
    }

.table td {
    border: none;
    vertical-align: middle;
}
    .table td:first-child {
        border-radius: 5px 0px 0px 5px;
    }
    .table td:last-child {
        border-radius: 0px 5px 5px 0px;
    }

.table td.hidden-column {
    padding: 0;
    width: 0;
}

.row-button {
    position: relative;
    display: table-cell;
    line-height: 0;
    width: 0px;
    vertical-align: middle;
}
    .row-button:first-child {
        right: 30px;
    }
    .row-button:nth-child(2) {
        right: 55px;
    }

.row-button button {
    position: absolute;
}

.icon-button {
    background-color: transparent;
    color: #666666;
    border: none;
    cursor: pointer;
    float:right;
    vertical-align: middle;
}

span.fas {
    line-height: 0;
}