
.dot {
    margin-right: 5px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid;
    background-color: transparent;
}
    .dot.red {
        border-color: #AA4444; 
    }
    .dot.green {
        border-color: #44AA44;
    }
    .dot.orange {
        border-color:#DD9966
    }

table {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

    table.sort-bar {
        margin-bottom: 0px;
    }

.mobile-cell{
    display:inline-block;
    width: 100%;
}

.table tbody tr {
    border-radius: 5px;
    box-shadow: 2px 2px 3px #888, 
                2px 2px 9px #CCC;
}
    .table tr.due-overdue {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 15px 3px #B44;
    }
    .table tr.due-today {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 10px 3px rgb(24, 128, 24);
    }
    .table tr.due-tomorrow {
        box-shadow: 2px 2px 3px #888, 
                    2px 2px 9px #CCC,
                    inset 0px 0px 10px 3px rgb(118, 197, 131);
    }

.table th {
    border: none;
    padding-bottom: 4px;
}
    .table th span.inactive {
        color: #999;
    }
    .table th.sortable {
        cursor: pointer;
    }
    .table th span {
        margin-left: 5px;
    }

.table td {
    border: none;
    vertical-align: middle;
}
    .table td:first-child {
        border-radius: 5px 0px 0px 5px;
    }
    .table td:last-child {
        border-radius: 0px 5px 5px 0px;
    }

.table td.hidden-column {
    padding: 0;
    width: 0;
}

.table td .task-info-stacked.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
    font-size: 16px;
    padding: 6px 0px 3px 0px;
}
    .table td .task-info-stacked {
        font-size: 12px;
        margin-left: 6px;
        padding: 2px 12px 10px 12px;
    }
    .table td .task-info-stacked:last-child {
        float: right;
    }
    .table td .task-info-stacked .btn:last-child {
        margin-left: 4px;
    }


.table td .task-info-title{
    color: #888;
    font-size: 10px;
    padding: 2px 6px;
    margin:0px;
}

.row-button {
    position: relative;
    display: table-cell;
    line-height: 0;
    width: 0px;
    vertical-align: middle;
}
    .row-button:first-child {
        right: 30px;
    }
    .row-button:nth-child(2) {
        right: 55px;
    }

.row-button button {
    position: absolute;
}

.icon-button {
    background-color: transparent;
    color: #555;
    border: none;
    cursor: pointer;
    float:right;
    vertical-align: middle;
}

span.fas {
    line-height: 0;
}

span.tag-pill {
    background-color: #DDD;
    border: none;
    border-radius: 5px;
    padding: 4px 8px;
    margin: 0px 3px;
}