.modal-content {
  background-color: #222;
  color: #CCC;
}

.modal-header .close {
  color: #777;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow: 0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
}

.NewTask {
    margin: 1rem;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
  }

select.form-control, .form-control:focus, .form-group input, .react-tags {
  background-color: #111;
  color: #CCC;
}
  .form-control:focus, .form-group .react-tags.is-focused {
    border-color: white;
    box-shadow:0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    -moz-box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.4);
    outline: none;
  }

.react-datepicker__input-container input {
  background-clip: padding-box;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  color: #495057;
  cursor: pointer;
  display: block;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
  height:38px;
  letter-spacing: normal;
  line-height: 24px;
  margin: 0;
  overflow-x: visible;
  overflow-y: visible;
  padding: 6px 12px;
  text-align: start;
  text-indent: 0px;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  width: 330px;
}
div.react-datepicker-wrapper, .react-datepicker-wrapper div.react-datepicker__input-container {
  display:block
}