/*==========================*/
/*  Notes Popover Coloring  */
/*==========================*/
.notes-popover.popover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                0px 0px 9px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                        0px 0px 9px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                     0px 0px 9px rgba(0, 0, 0, .3);
}
.notes-popover.popover .arrow::after {
    border-left-color: #444;
}
.notes-popover.popover .popover-body {
    background-color: #444;
    color: #CCC;
}

.notes-popover.popover .popover-header {
    background-color: #333;
    color: #CCC;
    border-bottom-color: #222;
}

/*==============*/
/*  Task Table  */
/*==============*/
.table.desktop {
    margin-bottom: 2rem;
}

/*========================*/
/*  Task Row Formatting   */
/*========================*/
.table.desktop td {
    border: none;
    border-bottom: 1px solid #CCC;
    border-top: none;
    font-size: smaller;
    padding: 6px 3px;
    page-break-inside: avoid;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
    .table.desktop td:last-child{
        border-bottom: none;
    }

.table.desktop td.task-button {
    border: none;
}


.table.desktop .content span {
    display: inline-block;
    width: 100%;
    padding-right: 3rem;
}
.table.desktop .expand-height {
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}


/*=====================*/
/*  Due Date Coloring  */
/*=====================*/
.table.desktop td.due-date.today {
    color: rgb(83, 197, 83);
}
.table.desktop td.due-date.tommorrw {
    color: rgb(83, 170, 197);
}
.table.desktop td.due-date.overdue {
    color: rgb(197, 83, 83);
}
.table.desktop td.content {
    font-size: medium;
    width: 100%;
}

/*================*/
/*  Notes Button  */
/*================*/
.notes-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    float:right;
    color: #CCC;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 1rem;
}

/*========================*/
/*  Done Button Coloring  */
/*========================*/

.table.desktop .table-button {
    margin-right: .5rem;
    vertical-align: middle;
}

.table.desktop .table-button {
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    border-radius: 2rem;
    font-size: small;
    width: 2rem;
    height: 2rem;
}

/*  Low Priority  */
.table.desktop .table-button.Low {
    border: 1px solid #999;
    background-color: transparent;
    color: #999;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}
    .table.desktop .table-button.Low:hover {
        border: 2px solid #DDD;
        background-color: #666;
        color: #DDD;
        font-weight: bold;
    }
/*  Med Priority  */
.table.desktop .table-button.Med {
    border: 1px solid #CA6;
    background-color: transparent;
    color: #CA6;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}
    .table.desktop .table-button.Med:hover {
        border: 2px solid rgb(240, 193, 100);
        background-color: rgba(240, 193, 100, 0.5);
        color: rgb(240, 193, 100);
        font-weight: bold;
    }
/*  High Priority  */
.table.desktop .table-button.High {
    border: 1px solid rgb(197, 83, 83);
    background-color: transparent;
    color: rgb(197, 83, 83);
    transition: 0.15s;
    transition-timing-function: ease-in-out;
}
    .table.desktop .table-button.High:hover {
        border: 2px solid rgb(255, 87, 87);
        background-color: rgba(255, 87, 87, 0.5);
        color: rgb(255, 87, 87);
        font-weight: bold;
    }

/*==================*/
/*  Options Button  */
/*==================*/
.options-button {
    background-color: transparent;
    border: none;
    color: #CCC;
    cursor: pointer;
    font-size: large;
}
/*============================*/
/*  Options Popover Coloring  */
/*============================*/
.options.popover .arrow::after {
    border-left-color: #333;
}
.options.popover {
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                0px 0px 9px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                        0px 0px 9px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, .5), 
                     0px 0px 9px rgba(0, 0, 0, .3);
}
.options.popover .popover-body {
    background-color: #333;
    color: #CCC;
}

.options.popover .popover-header {
    background-color: #222;
    color: #CCC;
    border-bottom-color: #111;
}
.options .popover-body {
    padding: 0.5rem 0;
}

.options .popover-item {
    padding: .5rem 2rem .5rem 2rem;
}


/*=================*/
/*  Delete Button  */
/*=================*/
.options .delete {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.1s;
}
.options .delete:hover {
    background-color:#444;
}
.options .delete::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f1f8';
    color: #CCC;
    position: absolute;
    font-weight: 900;
    font-size: small;
    font-style: normal;
    text-align: center;
    left: .75rem;
    width:  1rem;
    height: .75rem;
    display: block;
    text-align: center;
}

/*=================*/
/*  Edit Button  */
/*=================*/
.options .edit {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.1s;
}
.options .edit:hover {
    background-color:#444;
}
.options .edit::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f044';
    color: #CCC;
    position: absolute;
    font-weight: 900;
    font-size: small;
    font-style: normal;
    text-align: center;
    left: .75rem;
    width:  1rem;
    height: .75rem;
    display: block;
    text-align: center;
}